body {
  font-family: system-ui, -apple-system, sans-serif;
  text-align: center;
  background-color: #161616;
  color: #f8fafc;
  margin: 0;
  padding: 20px;
}

#pet-container {
  margin: 20px auto;
  padding: 24px;
  max-width: 360px;
  background: rgb(45, 52, 69);
  background: radial-gradient(circle, rgba(45, 52, 69, 1) 0%, rgba(26, 28, 37, 1) 68%);
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
}

#pet {
  font-size: 100px;
  margin: 32px;
	cursor: pointer;
  transition: all 0.3s ease;
}

.button {
  background-color: #efefef;
  border: none;
  padding: 12px 24px;
  margin: 6px;
  border-radius: 12px;
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-family: inherit;
  transition: all 0.2s ease;
	filter: grayscale(100%);
}

#buttons button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  background-color: #475569;
}

.button:hover {
  transform: scale(1.05);
  background-color: #161616;
	color: #efefef;
	filter: grayscale(0%);
}

#stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin: 24px;
}

.stat {
  background-color: #334155;
  padding: 12px;
  border-radius: 12px;
  color: #e2e8f0;
}

#messages {
  margin-top: 24px;
  min-height: 50px;
  color: #efefef;
  font-weight: 500;
}

.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
}

.jump {
  animation: jump 0.5s;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
